<nb-card size="medium">
  <nb-card-body>
    <nb-stepper orientation="vertical" disableStepNavigation>
      <nb-step label="START">
        <app-start></app-start>
        <!-- <button nbButton disabled nbStepperNext>prev</button> -->
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="University">
        <app-university></app-university>
        <!-- <button nbButton nbStepperPrevious>prev</button> -->
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Driver's License">
        <app-drivers-license></app-drivers-license>
        <!-- <button nbButton nbStepperPrevious>prev</button> -->
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Car Insurance">
        <app-car-insurance></app-car-insurance>
        <!-- <button nbButton nbStepperPrevious>prev</button> -->
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="END">
        <app-end></app-end>
        <!-- <button nbButton nbStepperNext>prev</button> -->
        <button nbButton nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>